# if

In [1]:
list_buah = ['apel', 'mangga']
'apel' in list_buah

True

In [2]:
bool(10)

True

In [4]:
if ('apel' in list_buah):
    print("ada apel di list_buah, jadi kita beli apel")

ada apel di list_buah, jadi kita beli apel

In [6]:
cari = 'pisang'
if (cari in list_buah):
    print("ada " + cari + " di list_buah, jadi kita beli " + cari)

In [7]:
# indentasi penting di python! meaning kalau statement itu betul, execute yang indented bawahnya.

In [8]:
# gak ada limitasi berapa baris perintah untuk diexecute di bawah if.
# else ga harus nungguin kondisinya true, makanya ga pakai indent.
# note di line 13 sisa = harga - uang harus diketik 2x under if and else!

In [13]:
uang = 1000
harga = 5000

if (uang >= harga):
    print("uang cukup")
    print("langsung bayar")
    sisa = uang - harga
    print("sisa uang: " + sisa)
else:
    print("uang tidak cukup")
    kurang = harga - uang
    print("kurang", kurang)

uang tidak cukup
kurang 4000

# elif

In [15]:
# GABISA concatenate "kurang" + kurang untuk line 13 karena string dan int!

In [16]:
nilai = 95

if nilai == 100:
    print("dapat A")
elif (nilai <= 99) & (nilai >= 90):
    print("dapat B")
elif (nilai <= 89) & (nilai >= 80):
    print("dapat C")
else:
    print("dapat D")

dapat B

In [17]:
# elif sebaiknya membahas topik yang sama.
# kalau sudah beda topik, pakai nested if saja.

In [21]:
umur = 15
saldo = 5000
harga = 2000

if (umur >= 17):
    print("boleh beli tiket")
    if (saldo >= harga):
        print("bisa beli tiket")
    else:
        print("saldo tidak cukup")
else:
    print("umur tidak cukup atau saldo tidak cukup")

umur tidak cukup

In [22]:
if (umur >= 17) & (saldo >= harga):
    print("boleh beli tiket")
    print("bisa beli tiket")
elif (umur >= 17) & (saldo < harga):
    print("boleh beli tiket")
    print("saldo tidak cukup")
else:
    print("umur tidak cukup atau saldo tidak cukup")

umur tidak cukup

# one-line if statement

In [24]:
nama = "susan"
if (nama == "susan"): print("sapa", nama); print("selamat pagi!")

sapa susan
selamat pagi!

In [27]:
nama = "budi"

if (nama == "susan"): print("sapa", nama); print("selamat pagi!")
elif (nama == "andi"): print("bro!")
else: print("pagi!")

pagi!

# ternary

In [13]:
# bisa pakai ternary kalau if-nya simple.
# kalau true, execute kiri, otherwise, execute kanan.

In [29]:
cuaca = "cerah"
print("bawa payung" if cuaca == "hujan" else "tidak bawa payung")

tidak bawa payung

In [16]:
# ternary bisa dimasukan ke variabel! dia jadi sebuah data, ga mesti berupa string, tapi mostly as string. karena kalau angka bisa langsung dihitung aja.
# jadi bedanya sama if biasa adalah if biasa menjalankan code, kalau ternary dibalikin menjadi sebuah data, meski ga harus string. int bisa, tapi kalau int biasanya langsung aja.
hasil = "bawa payung" if cuaca == "hujan" else "tidak bawa payung"
print(hasil)

bawa payung

In [14]:
cuaca = "hujan"
print("bawa" if cuaca == "hujan" else "tidak bawa", "payung")

bawa payung

# pass

In [31]:
# pass, supaya kodenya tetep bisa dirun, nanti diisi sama kode lain kalau udah tau mau ngapain.
if (cuaca == "cerah"):
    pass
elif (cuaca == "hujan"):
    pass
else:
    print("badai atau bencana lainnya")

# latihan 1

In [36]:
tinggi = 129
uang = 15000

if (tinggi >= 120) & (uang >= 30000):
    print("bisa naik")
    print("uang cukup")
elif (tinggi >= 120) & (uang <= 30000):
    print ("bisa naik")
    print("tetapi uang tidak cukup")
elif (tinggi <= 120) & (uang >= 30000):
    print("tidak boleh naik")
else:
    print("tidak bisa naik")

boleh naik
tetapi uang tidak cukup

In [38]:
tinggi = 173
uang = 200000

if (tinggi >= 120) & (uang >= 30000): print("boleh naik"); print("uang cukup")
elif (tinggi >= 120) & (uang <= 30000): print("boleh naik"); print("tetapi uang tidak cukup")
elif (tinggi <= 120) & (uang >= 30000): print("tidak boleh naik")
else: print("tidak boleh naik")

boleh naik
uang cukup

In [12]:
tinggi = 135
uang = 11000

if (tinggi >= 120):
    print("bisa naik")
    if (uang >= 30000):
        print("uang cukup")
    else:
        print("tetapi uang tidak cukup")
else:
    print("tidak bisa naik")

bisa naik
tetapi uang tidak cukup

In [41]:
tinggi = 150
uang = 50000

min_tinggi = 120
harga = 30000

if (tinggi >= min_tinggi):
    print("cukup tinggi untuk naik roller coaster")
    if (uang >= harga):
        print("bisa naik roller coaster")
    else:
        print("uangnya kurang untuk beli tiket roller coaster")
else:
    print("tidak cukup tinggi untuk naik roller coaster")

cukup tinggi untuk naik roller coaster
bisa naik roller coaster

# iteration (loop)

## for
- untuk setiap item dalam sebuah koleksi:
    - list
    - tuple
    - dictionary
    - range
    - string

In [25]:
# untuk setiap baju dalam list ini, execute something
list_baju = ["dress", "kaos", "jeans"]

for n in list_baju:
    print(n)
    
for baju in list_baju:
    print(baju)

dress
kaos
jeans
dress
kaos
jeans

## while

mirip if, except blok kode akan jalan lagi selama kondisi masih True

In [30]:
# di while loop, make sure kondisi akan berubah menjadi false! supaya gak infinite looping. code yang mengubah menjadi false HARUS ada di dalam while loop.
# kondisi di while loop tidak harus dibatasi angka! misal str-nya harus ada kata ini, dll.
# while loop lebih versatile
# smeentara kalau FOR, sangat spefisik, melewati sebuah koleksi.

tinggi = 115

while (tinggi < 120):
    print("tinggi kurang: ", tinggi)
    tinggi += 1
print("di luar loop")

tinggi kurang:  115
tinggi kurang:  116
tinggi kurang:  117
tinggi kurang:  118
tinggi kurang:  119
di luar loop

In [29]:
counter = 1
while (counter <= 3):
    print(counter)
    counter += 1 # atau counter = counter + 1

1
2
3

In [23]:
# input = untuk minta input dari usernya
buah_fav = ['kiwi', 'mangga', 'jambu']
n = 0

while (n < 2):
    buah_dibeli = input("masukkan nama buah:")
    print(buah_dibeli)
    n += 1
    if (buah_dibeli == buah_fav[0]):
        print("beli 2", buah_dibeli)
    elif (buah_dibeli == buah_fav[1]):
        print("beli 2", buah_dibeli)
    elif (buah_dibeli == buah_fav[2]):
        print("beli 2", buah_dibeli)
    else:
        print("beli 1", buah_dibeli)

masukkan nama buah: kiwi

kiwi
beli 2 kiwi

masukkan nama buah: leci

leci
beli 1 leci

In [15]:
buah = ['apel', 'mangga', 'jeruk']
for i in buah:
    if i == 'mangga':
        print('beli 2', i)
    else:
        print('beli 1', i)

beli 1 apel
beli 2 mangga
beli 1 jeruk

# break & continue statement
- break --> memaksa instantly menghentikan loop
- continue --> skip semua code yang ada di bawah continue, kemudian kembali ke atas ke conditionnya

In [31]:
# continue dipakai untuk skip semua code yang ada di bawah continue. SEE RECORDING 8:30 tentang counter.
# kalau pake break gak akan masuk else!
# if dan while gak harus berpasangan dengan else! while gak punya elif.
# REWATCH 8:40

In [34]:
counter = 0
while (counter <= 5):
    counter += 1 # harus ditaruh di sini, karena kalau ditaruh di bawah if akan infinite loop
    if (counter == 3):
        continue
    print(counter)

1
2
4
5
6

In [35]:
counter = 0
while (counter <= 5):
    counter += 1 # harus ditaruh di sini, karena kalau ditaruh di bawah if akan infinite loop
    if (counter == 3):
        break
    print(counter)

1
2

## else
perbedaan pakai else atau tulis code di luar loop adalah dari BREAK. break tidak akan masuk ke else.

In [40]:
counter = 0
while (counter <= 5):
    print(counter)
    counter += 1
else:
    print("kondisi sudah jadi false", counter)

0
1
2
3
4
5
kondisi sudah jadi false 6

In [41]:
counter = 0
while (counter <= 5):
    print(counter)
    counter += 1
    break
else:
    print("kondisi sudah jadi false", counter)

0

In [42]:
counter = 0
while (counter <= 5):
    print(counter)
    counter += 1
    break

print("kondisi sudah jadi false", counter)

0
kondisi sudah jadi false 1

# nested
- nested if or nested loop

In [43]:
n = 100
while (n > 10):
    print("di atas 10", n)
    n -= 20
    while (n > 20):
        print("di atas 20", n)
        n -= 5

di atas 10 100
di atas 20 80
di atas 20 75
di atas 20 70
di atas 20 65
di atas 20 60
di atas 20 55
di atas 20 50
di atas 20 45
di atas 20 40
di atas 20 35
di atas 20 30
di atas 20 25
di atas 10 20

# one-line loop

In [45]:
counter = 0
while (counter <= 5): print ("counter", counter); counter += 1

counter 0
counter 1
counter 2
counter 3
counter 4
counter 5

# review

## list

In [46]:
list_random = ["a", 5, 7.6, True, []]

for item in list_random:
    print(item)

a
5
7.6
True
[]

## tuple

In [47]:
tuple_random = ("a", 4.5, 3, True)

for item in tuple_random:
    print(item)

a
4.5
3
True

In [48]:
tuple_nilai = (1,2,3,4,5)
for int_nilai in tuple_nilai:
    print(int_nilai)

1
2
3
4
5

## dictionary

In [53]:
andi = {
    "nama" : "andhika saputra",
    "umur" : 28,
}

for atribut in andi:
    print(atribut)
    
for key in andi.keys():
    print(key)
    
for val in andi.values():
    print(val)
    
for item in andi.items():
    print(item)

nama
umur
nama
umur
andhika saputra
28
('nama', 'andhika saputra')
('umur', 28)

In [56]:
for k in andi:
    print(k, "adalah", andi[k])
    
for k in andi.keys():
    print(k, "adalah", andi[k])

nama adalah andhika saputra
umur adalah 28
nama adalah andhika saputra
umur adalah 28

In [57]:
# menggabungkan teknik UNPACKING dengan loop

for key, val in andi.items():
    print(key, "adalah", val)

nama adalah andhika saputra
umur adalah 28

# range
- membuat data baru, berupa angka urut

In [59]:
range(10)

range(0, 10)

In [60]:
for angka in range(10):
    print(angka)

0
1
2
3
4
5
6
7
8
9

In [61]:
range(75,101) # untuk angka urut dari 75 sampai 100

range(75, 101)

In [63]:
for angka in range(95,101):
    print(angka)

95
96
97
98
99
100

In [66]:
# untuk customize stepnya supaya lebih dari 1
# misal untuk angka genap only

In [65]:
for angka in range(2,10,2):
    print(angka)

2
4
6
8

In [68]:
# perkalian 5 dari 25 - 60
for a in range(25, 61, 5):
    print(a)

25
30
35
40
45
50
55
60

In [70]:
# hitung mundur

for a in range (3,0,-1):
    print(a)

3
2
1

## str

In [71]:
msg = "belle vue"
for i in msg:
    print(i)

b
e
l
l
e

v
u
e

In [73]:
# jika bertemu huruf e, print "ping!"
for i in msg:
    if (i == "e"):
        print("ping!")
    else:
        print(i)

b
ping!
l
l
ping!

v
u
ping!

# input
- meminta user memberi input

In [74]:
n = 0
while (n < 3):
    input()
    n += 1

 hi
 hello
 hai

In [75]:
# memasukkan input ke dalam sebuah variabel
n = 0
while (n < 3):
    msg = input()
    print(msg)
    n += 1

 hi

hi

 hello

hello

 hai

hai

In [76]:
# memasukkan input ke dalam sebuah variabel
n = 0
while (n < 3):
    msg = input("silakan input ke-" + str(n))
    print(msg)
    n += 1

silakan input ke-0 a

a

silakan input ke-1 b

b

silakan input ke-2 c

c

In [83]:
n = 0
msg = ""
while (msg != "stop"):
    msg = input("silakan input ke-" + str(n))
    print(msg)
    n += 1

silakan input ke-0 hi

hi

silakan input ke-1 sToP

sToP

silakan input ke-2 stop

stop

In [82]:
n = 0
msg = ""
while (msg != "stop"):
    msg = input("silakan input ke-" + str(n)).lower()
    print(msg)
    n += 1

silakan input ke-0 hello

hello

silakan input ke-1 STOP

stop